.caixa_width{
    /* espressura, tipo e cor > width, style, color*/
    /* border-width: 2px;
    border-style: solid;
    border-color: #8a2be2; */

    /* shorthand => vários valores na mesma propriedade */
    border: 2px solid #8a2be2;

    width: 200px;
}

.imagem_width{
    width: 1000px;
}

.caixa_heigth {
    border: 3px dashed #8a2be2;
    height: 100px;
    width: 100px;
}