
#titulo-h2{
    color:darkcyan
}
.fundo-cornsilk{
    background-color: cornsilk;
}

.texto-sla{
    color:darkslateblue
}

h1{
    color: indigo;
}


h2{
    color:blueviolet
}

p{
    color:darkblue
}

/* cascata */
/* especificação */